@model LogADoc.Models.ViewModels.ItemVM

<form method="post" asp-action="Update">
    <input asp-for="Item.Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Update Item</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Item.Name"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Item.Status"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Item.CurrentHolder"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="Item.Name" class="form-control" />
                        <span class="text-danger" asp-validation-for="Item.Name"></span>
                    </div>
                    <div class="col-4">
                        <select asp-for="Item.StatusId" asp-items="@Model.StatusDropDown" class="form-control">
                            <option selected>--Select Status--</option>
                        </select>
                        <span class="text-danger" asp-validation-for="Item.StatusId"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Item.CurrentHolder" class="form-control" />
                        <span class="text-danger" asp-validation-for="Item.CurrentHolder"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-secondary w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{ <partial name = "_ValidationScriptsPartial" />}
}